//colors
$first-bg: #FFFFFF;
$second-bg:  #F4F4F4;
$button-gradient: linear-gradient(145deg, rgba(4,220,91,1) 0%, rgba(6,221,169,1) 100%);

//font
$font-poppins: 'Poppins', sans-serif;
$font-inter:   'Inter', sans-serif;