@use '../util' as u;

.container {
    h2 {
        font-size: 25px;
        font-weight: 700;
    }
    
    h6 {
        font-weight: 400;

    }

    .upload-video {
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        column-gap: 5px;
        padding: 12px 30px;
        border: none;
        border-radius: 10px;
        background: u.$button-gradient;
        color: white;
        cursor: pointer;
    }

    &__flex-intro {
        display: flex;
        // background-color: aqua;
        align-items: center;
        justify-content: space-between;
        background-color: u.$second-bg;
        border-radius: 10px;
        padding: 10px 20px;
        
        
    }
}